body {
    background-color: rgb(44, 44, 44);
    padding: 15rem;
}

h1 {
    color: white;
    text-align: center;
}

#div1 {
    background-color: whitesmoke;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

#div1 > *{
    margin: 0.3rem;
}

button {
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

