body {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,9,121,1) 58%, rgba(8,0,255,0.4) 100%);
    padding: 15rem;
}

h1 {
    color: white;
    text-align: center;
}

#div1 {
    background-color: whitesmoke;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
}

#div1 > *{
    margin: 0.3rem;
}

button {
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
}

